<h2 mat-dialog-title>{{ data ? 'Edit' : 'Create' }} Task</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="form.controls.title" />
    @if (form.controls.title.hasError('required')) {
    <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput [formControl]="form.controls.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="form.controls.dueDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-datepicker #picker />
    @if (form.controls.dueDate.hasError('required')) {
    <mat-error>Due date is required</mat-error>
    }
  </mat-form-field>

  @if (data) {
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="form.controls.taskStatus">
      <mat-option value="OPEN">Open</mat-option>
      <mat-option value="CLOSED">Close</mat-option>
    </mat-select>
  </mat-form-field>
}

<mat-form-field appearance="outline">
  <mat-label>Priority</mat-label>
  <mat-select [formControl]="form.controls.taskPriority">
    <mat-option value="LOW">Low</mat-option>
    <mat-option value="MEDIUM">Medium</mat-option>
    <mat-option value="HIGH">High</mat-option>
  </mat-select>
</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    {{ data ? 'Save' : 'Create' }}
  </button>
</mat-dialog-actions>