/* You can add global styles to this file, and also import other style files */

.blurred-backdrop {
    backdrop-filter: blur(4px);
}

html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
}

.snack-success .mdc-snackbar__surface {
    background-color: var(--mat-sys-primary-container) !important;
    color: var(--mat-sys-on-primary-container) !important;
}

.snack-error .mdc-snackbar__surface {
    background-color: var(--mat-sys-error-container) !important;
    color: var(--mat-sys-on-error-container) !important;
}